/*  #Style Google Card - Styled cards
================================================*/
google-card-layout-3 {
  @include avatar(true);
  .label-md, .label-ios {
      margin: 0 !important;
  }
  // Badge
  ion-badge {
    position: absolute;
    right: 5px;
    bottom: -5px;
  }

  ion-card {
    position: relative;
    height: 200px;
    @include darkening-blend-mode-img(true);
    border-radius: $border-radius !important;
    margin-bottom: 20px !important;
    box-shadow: none !important;
    img {
      height: 200px;
    }
  }
  // New Category
  [new-category] {
    display: block;
    font-size: 11px;
    font-weight: 500 !important;
    color: theme-colors('textColors', 'accent') !important;
    margin-bottom: 5px;
    font-weight: 100;
    padding-top: 5px;
    letter-spacing: 1px;
  }

  [card-title] {
      color: color($googleCard, card-title-basic);
  }
  // Card Subtitle
  [card-subtitle] {
    color: color($googleCard, card-subtitle-basic);
    font-size: $h3-font-size !important;
    padding-right: 90px !important;
    font-weight: 400 !important;
  }
}
