/*  #Style Search - Field + Header 2
===========================================*/
search-bar-layout-3 {
  @include avatar(true);
  // Header Top
  [header-section] {
    border-bottom: $item-divider-small;
    padding: 9px;
    // Headet title
    [header-title] {
      color: color($searchPage, search-title-field-header-2);
      padding-left: 7px;
      margin-bottom: 10px !important;
    }
  }

  .toolbar-ios {
    min-height: 64px;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }

  // Settings gradient image
  [gradient] {
    opacity: 1;
    border-radius: 50%;
    overflow: hidden;
    height: 72px;
    width: 72px;
    margin-right: 16px !important;
    position: relative;
    @include darkening-blend-mode-img(true);
  }
}
