<!--Themes Toggle - With avatars -->
<ion-content>
  <ion-grid no-padding>
    <!-- List Section -->
    <ion-list *ngIf="data != null">
      <ion-list-header header-section>
        <!-- Header-title -->
        <h1 header-title text-capitalize>{{data.title}}</h1>
      </ion-list-header>
      <ion-item *ngFor="let item of data.items; let i= index">
        <!-- Avatar-->
        <ion-avatar item-start>
          <img images-filter [src]="item.avatar" />
        </ion-avatar>
        <!-- Item-title -->
        <ion-label item-title padding-top>{{item.title}}</ion-label>
        <!-- Item-subtitle -->
        <ion-label item-subtitle text-wrap>{{item.subtitle}}</ion-label>
        <!-- Toggle -->
        <ion-toggle item-end [value]="item.id" (ionChange)="onEvent('onSelect',item)" [checked]="item.isChecked"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
