/*  #Style Toggle - With avatars
===========================================*/
toggle-layout-1 {
  @include avatar(true);

  .input-wrapper {
    display: block;

    ion-label {
      margin: 0 !important;

      &[padding-top] {
        padding-top: 25px;
      }
    }
  }
}
