/*  Theme Action Sheet - News
===========================================*/
action-sheet-layout-2 {
  @include settingAnimationHeader;
  @-webkit-keyframes color-change {
    0% {
      color: theme-colors('mainColors', 'primary');
    }

    100% {
      color: theme-colors('textColors', 'accent') !important;
    }
  }

  .toolbar-ios {
    min-height: 64px;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }
  .content-ios .scroll-content {
    top: -64px !important;
  }
  .active .back-button,
  .active .toolbar-title {
    color: theme-colors('textColors', 'accent') !important;
    animation-name: color-change;
    animation-duration: 400ms;
  }

  .back-button,
  .toolbar-title {
    color: theme-colors('textColors', 'secondaryBase') !important;
  }

  .scroll-content {
    top: -56px;
  }

  [background-size] {
    height: 250px;
    position: relative;
    @include darkening-blend-mode;
  }

  ion-avatar {
    min-width: 48px !important;
    min-height: 48px !important;

    img {
      width: 48px !important;
      height: 48px !important;
    }
  }

  [title-block] {
    position: absolute;
    bottom: 0;
    padding: 16px 25px 16px 0;
    z-index: 999;

    [new-category] {
      color: color($parallaxPage, parallax-category-news) !important;
      font-size: 11px;
      letter-spacing: 1px;
      z-index: 999;
      position: relative;
    }
  }

  [parallax-title] {
    color: color($parallaxPage, parallax-title-news) !important;
    font-size: $h2-font-size !important;
    font-weight: 400;
  }

  [parallax-subtitle] {
    color: color($parallaxPage, parallax-subtitle-news);
    font-size: $h4-font-size !important;
    line-height: 20px;
  }
  [parallax-description] {
  color: color($parallaxPage, parallax-subtitle-news);  
  }
}
