// Style Google Maps - Gmaps + About Us
maps-layout-2 {
  .toolbar-ios {
    min-height: 64px;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }
    .sebm-google-map-container {
        height: 300px;
    }
    .item-inner {
        margin-left: 0 !important;
    }
}
