[background-size] {
    height: 190px;
    position: relative;
    @include darkening-blend-mode;
    //background-image: url('')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
}